.banner-bg {
  background-color: #33415c;
}
.custom-text-color {
  color: #564fff;
}

.custom-bg-color {
  background-color: #564fff;
}

.link-text-color {
  color: #ff564f;
}
.training-bg-color {
  background-color: #235c51;
}

.footer-bg {
  background-color: #212529;
}
